# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Margarida Viera\Desktop\UNI - 2nd year, 1st semester\AEDA\aeda2021_p02_extra\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
